<section id="page-agenda" class="page-home-acesso-restrito">
    <section id="main_content">
        <div class="row" style="width:100%;">
            <div class="col-lg-4 col-md-4 col-sm-12 col-12 left-menu">
                <app-acesso-restrito-sidebar></app-acesso-restrito-sidebar>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-12" style="max-width:810px;margin-top:80px;display:flex;">
                <div class="image-container">
                    <img src="{{ IMG_URL }}/files/usuario/{{ foto }}" width="100%" height="auto" />
                </div>
                <div class="right">
                    <div class="orange-font-color">Olá, <span id="name"><a [routerLink]="['acesso-restrito']">{{ nomeLogado() }}</a></span></div>
                    <div class="paragraph">
                        Nessa seção você terá acesso aos cursos publicados, relatórios de acesso, contratos e tudo mais que precisar.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
    </section>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>