@charset "utf-8";

$encode-Sans-Condesed-Regular: encodeSansCondensed-Regular;
$encode-Sans-Condesed-Medium: encodeSansCondensed-Medium;
$encode-Sans-Condesed-SemiBold: encodeSansCondensed-SemiBold;
$encode-Sans-Condesed-Bold: encodeSansCondensed-Bold;
$encode-Sans-Condesed-Black: encodeSansCondensed-Black;
$encode-Sans-Condensed-ExtraBold: encodeSansCondensed-ExtraBold;

$gray: #707070;
$default-color-theme: #F2652A;
$footer-background-color: #DBDADA;

$yellow-light-background: #F0DE20;
$yellow-dark-background: #F1CE23;

$orange-light-background: #F2A628;
$orange-dark-background:  #F8762A;

$navbar_Responsive-color: black;
$navbar_Responsive-font-size: 14px;

$navbar_Responsive-dropdown-menu-color: white;
$navbar_Responsive-dropdown-menu-font-size: 13px;
