<div id="page-agenda" style="position:relative;" class="page-criar-curso page-meus-cursos">
  
 
  <section id="main_content">
      <div class="row" style="width:100%;">
          <div class="col-lg-4 col-md-4 col-sm-12 col-12 left-menu">
            <app-acesso-restrito-sidebar current1='agenda' current2="agenda_cursos"></app-acesso-restrito-sidebar>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-12" style="max-width:810px;margin-top: 80px;">
              <div class="title orange-font-color">Agenda de cursos
              </div>
              
              <app-agenda ></app-agenda>
          </div>
      </div>
     


  </section>





</div>