
<div class="chat">
    <div *ngIf="duvidas!=undefined" class="right">
        <mt-cursando-menu [showDuvidas]="false"  [showAulas]="true"  [showQuiz]="true"  [showVoucher]="true" current="duvidas"></mt-cursando-menu>
        <br/>
        <br/>
        <div class="instructions">
            Envie suas perguntas para o tutor do curso. Assim que possível ela será respondida:
        </div>
        <br/>
        <div class="new-message" *ngIf="duvidas != undefined">
            <form id="form_new_message">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-11 col-11">
                        <textarea [(value)]="newMessage" #message (keyup.enter)="clear()"
                                  (keydown.enter)="onEnter(message.value)"
                                  placeholder="Escreva sua mensagem aqui"></textarea>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-1 col-1"></div>
                </div>
            </form>
        </div>
        <br/>
        <div class="chat-container" *ngIf="duvidas != undefined">
            <div class="row message {{message.type}}" *ngFor="let message of duvidas.messages">
                <div class="col-lg-2 col-md-2 col-sm-1 col-1" *ngIf="message.type == 'other'">
                </div>
                <div class="{{message.type}}-message col-lg-10 col-md-10 col-sm-11 col-11">
                    <div class="message-container">
                        <div class="text-container">
                            <div class="text">
                                {{message.content}}
                            </div>
                            <div class="origin">
                                Mensagem enviada por
                                <span class="other-name">{{ message.user.nome }}</span>,
                                <span class="other-date">{{ message.sentDate }}</span>, às
                                <span class="other-time">{{ message.sentTime }}</span>
                                <div [ngClass]="{'other-avatar-container': message.type == 'my', 'my-avatar-container': message.type == 'other'}">
                                    <img [src]="message.user.foto" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1 col-1" *ngIf="message.type == 'my'">
                </div>
            </div>
        </div>
    </div>
</div>
