<div id="page-cursos" (window:resize)="onResized($event)">
  <section id="page-cursos-presenciais">
    <!-- Page Content -->


    <section id="section_content">
      <div class="container">
        <div class="row">
          <div style="display:none;" class="col-lg-3" id="sidebar">
            <mt-sidebar></mt-sidebar>
          </div>
          <div class="col-lg-12">
            <div  class="sort-order row" style="justify-content:space-between;">
              <div id="sort" [ngClass]="{'col-sm-4 col-4' : isMobile}" [ngStyle]="{'width': isMobile ? 'unset' : '240px'}">
                <div class="dropdown">
                  <button href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">ordenar
                    <span class="caret"></span>
                  </button>
                  <div class="dropdown-menu" style="height:200px;">
                    <form id="form_curso_sort_order_dropdown" style="display:unset !important;background-color:unset !important;">
                      <div class="radio">
                        <input (change)="findCursos('sort','asc')" id="sort_az" name="sort" type="radio">
                        <label for="sort_az" class="radio-label">A-Z</label>
                      </div>
                      <div class="radio">
                        <input (change)="findCursos('sort','desc')" id="sort_za" name="sort" type="radio">
                        <label for="sort_za" class="radio-label">Z-A</label>
                      </div>
                      <div class="radio">
                        <input (change)="findCursos('sort','best-seller')" id="sort_mais_vendidos" name="sort" type="radio">
                        <label for="sort_mais_vendidos" class="radio-label">mais vendidos</label>
                      </div>
                      <div class="radio">
                        <input (change)="findCursos('sort','latest')" id="sort_mais_recente" name="sort" type="radio">
                        <label for="sort_mais_recente" class="radio-label">mais recentes</label>
                      </div>
                      <div class="radio">
                        <input (change)="findCursos('sort','promotions')" id="sort_promocoes" name="sort" type="radio">
                        <label for="sort_promocoes" class="radio-label">promoções</label>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
              <div [ngClass]="{'col-sm-4 col-4' : isMobile}" [ngStyle]="{'width': isMobile ? 'unset' : '240px'}">
                <div class="dropdown">
                  <button href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">preço
                    <span class="caret"></span>
                  </button>
                  <app-range-slider [tipoCurso]="2"></app-range-slider>
                </div>
              </div>
              <div [ngClass]="{'col-sm-4 col-4' : isMobile}" [ngStyle]="{'width': isMobile ? 'unset' : '240px'}">
                <div class="" id="category">
                  <div class="dropdown">
                    <button href="#" class="nav-link dropdown-toggle" data-display="static" data-toggle="dropdown" style="padding:5px 10px;">categorias
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li *ngFor="let categoria of categorias">
                        <!-- <a href="javascript:void(0)" routerLink="/cursos-categoria/{{categoria.id}}">{{ categoria.titulo }}</a> -->
                        <a href="javascript:void(0)" routerLink="/cursos-categoria/{{categoria.slug_categoria}}">{{ categoria.titulo }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div   [ngClass]="{'col-sm-12 col-12' : isMobile}" [ngStyle]="{'width': isMobile ? '100%' : '450px'}">
                <app-caixa-de-pesquisa></app-caixa-de-pesquisa>
              </div>
              <div class="view-options hide-mobile">
                <button (click)="changeViewType('list')" style="background-color:transparent;color: #DBDADA;font-size:25px;margin-top: -5px;">
                  <span class="icon-hamburger-menu-1" [ngClass]="{'active':currentViewType == 'list' ? true : false}"></span>
                </button>
              </div>
              <div class="hide-mobile">
                <button (click)="changeViewType('grid')" style="background-color:transparent;color: #DBDADA;font-size:25px;margin-top: -5px;">
                  <span id="button_grid" class="icon-plus-filled" [ngClass]="{'active':currentViewType == 'grid' ? true : false}"></span>
                </button>
              </div>

            </div>
            <div id="cursos_adicionados_recentemente" *ngIf="cursosAdicionadosRecentemente != undefined && cursosAdicionadosRecentemente.length"
              class="slickear curso-p"  style="display:flex;flex-wrap:wrap;" [ngClass]="{'grid': currentViewType=='grid' ? true : false, 'list': currentViewType=='list' ? true : false}">
              <div href="" id="cursos_adicionados_recentemente_link" class="outter">
                <div class="box-shadow cursos-first-square red-background item">
                  <span class="title">Cursos adicionados recentemente</span>
                </div>
              </div>

              <app-card-cursos-presenciais class="card-presencial" *ngFor="let curso of cursosAdicionadosRecentemente"
                [ngClass]="{'grid': currentViewType=='grid' ? true : false, 'list': currentViewType=='list' ? true : false}"
                [curso]="curso" [favorites]="favorites" [cursosAluno]="cursosAluno"></app-card-cursos-presenciais>


            </div>

            <div class="absolute" *ngIf="cursosAdicionadosRecentemente != undefined && cursosAdicionadosRecentemente.length">
              <a id="adicionados_recentemente_more_link" routerLink="/todos-os-cursos/2/1" class="col-lg-12 col-md-12 col-sm-12 see-others">
                <span>
                  <i class="icon-next-filled"></i> Veja todos os cursos adicionados recentemente</span>
              </a>
            </div>

            <div id="cursos_promocoes"  style="display:flex;flex-wrap:wrap;" *ngIf="cursosEmPromocao != undefined && cursosEmPromocao.length" [ngClass]="{'grid': currentViewType=='grid' ? true : false, 'list': currentViewType=='list' ? true : false}">
              <div href="" id="cursos_promocoes_link" class="outter">
                <div class="box-shadow cursos-first-square orange-background item">
                  <span class="title">Promoções por tempo limitado</span>
                </div>
              </div>
              <app-card-cursos-presenciais style="margin-bottom:0 !important;" class="card-presencial" *ngFor="let curso of cursosEmPromocao" [ngClass]="{'grid': currentViewType=='grid' ? true : false, 'list': currentViewType=='list' ? true : false}"
                [curso]="curso" [favorites]="favorites" [cursosAluno]="cursosAluno"></app-card-cursos-presenciais>
            </div>
            <div class="absolute" *ngIf="cursosEmPromocao != undefined && cursosEmPromocao.length">
              <a id="promocoes_more_link" routerLink="/todos-os-cursos/2/2" class="col-lg-12 col-md-12 col-sm-12 see-others">
                <span>
                  <i class="icon-next-filled"></i> Veja todos os cursos em promoção</span>
              </a>
            </div>

            <div id="cursos_mais_vendidos" style="display:flex;flex-wrap:wrap;" *ngIf="cursosMaisVendidos != undefined && cursosMaisVendidos.length" [ngClass]="{'grid': currentViewType=='grid' ? true : false, 'list': currentViewType=='list' ? true : false}">
              <div href="" id="cursos_mais_vendidos_link" class="outter">
                <div class="box-shadow cursos-first-square yellow-background item">
                  <span class="title">Cursos mais vendidos</span>
                </div>
              </div>
              <app-card-cursos-presenciais style="margin-bottom:0 !important;" class="card-presencial" *ngFor="let curso of cursosMaisVendidos" [ngClass]="{'grid': currentViewType=='grid' ? true : false, 'list': currentViewType=='list' ? true : false}"
                [curso]="curso" [favorites]="favorites" [cursosAluno]="cursosAluno"></app-card-cursos-presenciais>
            </div>
            <div class="absolute" *ngIf="cursosMaisVendidos != undefined && cursosMaisVendidos.length">
              <a id="mais_vendidos_link" routerLink="/todos-os-cursos/2/3" class="col-lg-12 col-md-12 col-sm-12 see-others">
                <span>
                  <i class="icon-next-filled"></i> Veja todos os cursos mais vendidos</span>
              </a>
            </div>
            <div class="row" style="margin-top:50px;width:100%;">
              <a id="see_all_courses_remotos_link" routerLink="/todos-os-cursos/2" class="col-lg-12 col-md-12 col-sm-12 see-others">
                <span class="orange-font-color">
                  <i class="icon-user-check" style="font-size:50px;"></i>
                  <span class="text orange-font-color">Veja todos os cursos presenciais</span>
                </span>
              </a>
            </div>

          </div>

        </div>
      </div>

    </section>


    <!-- /.container -->

    <!-- Footer -->
    <div data-include="footer"></div>



  </section>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>

<script>
  var rangeSlider = document.getElementById("rs-range-line");
  var rangeBullet = document.getElementById("rs-bullet");
  rangeSlider.addEventListener("input", showSliderValue, false);

  function showSliderValue() {
    rangeBullet.innerHTML = rangeSlider.value;
    var bulletPosition = (rangeSlider.value / rangeSlider.max);
    rangeBullet.style.left = (bulletPosition * 80) + "px";
  }

  function activate(el) {
    if (el == 'grid') {
      $(".list").addClass('grid');
      $(".list").removeClass('list');
      $("#button_grid").addClass('active');
      $(".view-options .icon-hamburger-menu-1").removeClass('active');
    } else {
      $(".grid").addClass('list');
      $(".grid").removeClass('grid');
      $("#button_grid").removeClass('active');
      $(".view-options .icon-hamburger-menu-1").addClass('active');
    }
  }

  var interval = setInterval(function () {
    if ($("#topnav_cursos").length) {
      $("#topnav_cursos").addClass("orange-font-color");
      clearInterval(interval);
    }
  }, 100);


  var slickeado = false;
  function conditionalSlick() {
    if ($(window).width() <= 991 && !slickeado) {
      slickeado = true;
      console.log("entrei");
      $(".slickear").slick(
        {
          infinite: false,
          slidesToShow: 2,
          slidesToScroll: 1,
          responsive: [
            {
              breakpoint: 769,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                infinite: false,
                dots: false
              }
            }
          ]
        }
      );
    } else {
      if ($(window).width() > 991 && slickeado) {
        $(".slickear").slick('unslick');
        slickeado = false;

      }
    }
  }

  conditionalSlick();
  $(window).resize(function () {
    conditionalSlick();
  });

</script>