<div id="page-agenda" class="page-criar-curso page-perfil-acesso-restrito">
	<section id="main_content">
		<div class="row" style="width:100%;">
			<div class="col-lg-4 col-md-4 col-sm-12 col-12 left-menu">
				<app-acesso-restrito-sidebar current1='criar_curso' current2='criar_presencial'></app-acesso-restrito-sidebar>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-12 col-12" style="max-width:810px;margin-top:30px;padding:20px;" id="page-cadastro">
				<div class="title orange-font-color">Criar
					<span>Curso</span>
				</div>
				<br/>
				<div class="type" style="text-align:left !important;">

					<mat-accordion id="accordion">

						<mat-expansion-panel hideToggle class="accordion-item">
							<mat-expansion-panel-header>
								<mat-panel-title>
									<h5 class="mb-0">
										<a class="orange-font-color">
											<i class="icon icon-arquivo_preto"></i> Meus Cursos</a>
									</h5>
								</mat-panel-title>
							</mat-expansion-panel-header>
							<div class="card-body row messages">
								<div style="width:100%;cursor:pointer" *ngFor="let rascunho of rascunhos" (click)="getValues(rascunho)">
									<hr/>
									<div class="course-name">{{rascunho.nome_curso}}</div>
									<div class="course-date">{{getStatus(rascunho.status)}}</div>

								</div>
							</div>
						</mat-expansion-panel>
					</mat-accordion>

					<br/>

					<br/>

				</div>
				<br/>
				<hr/>
				<br/>
				<div id="mensagem-retorno">
				<div *ngIf="error" class="alert alert-danger">{{error}}</div>
				<div *ngIf="success" class="alert alert-success">
					Registro salvo com sucesso!
				</div>
				</div>
				<div class="title1 orange-font-color">Novo curso</div>
				<form id="form_create_course_online" [formGroup]="newRecord" (ngSubmit)="onFormSubmit()">
					<div class="item row">
						<div class="type col-lg-3 col-md-4 col-sm-6 col-6">Tipo de Curso</div>
						<select formControlName="fk_cursos_tipo" id="fk_cursos_tipo" name="fk_cursos_tipo" class="col-lg-9 col-md-8 col-sm-6 col-6" (change)="setTipoCurso()" [attr.disabled]="editar">
							<option selected disabled value="">Selecionar Tipo do Curso</option>
							<option value="1">Curso On-line</option>
							<option value="2">Curso Presencial</option>
							<option value="4">Curso Remoto</option>
							<!--<option value="3">Evento</option>-->
						</select>
					</div>
					<div class="item row" *ngIf="cursoTipo != 3">
						<div class="type col-lg-3 col-md-4 col-sm-6 col-6">Status</div>
						<select formControlName="status" id="status" name="status" class="col-lg-9 col-md-8 col-sm-6 col-6">
							<option selected disabled value="">Selecionar Status do Curso</option>
							<option value="1">Rascunho</option>
						</select>
					</div>

					<div class="item row">
						<div class="type col-lg-3 col-md-4 col-sm-6 col-6">Título</div>
						<input formControlName="titulo" class="col-lg-9 col-md-8 col-sm-6 col-6" id="titulo" name="titulo" type="text" maxlength="120"
									 placeholder="Máximo 120 caracteres" />
					</div>

					<div class="item row">
						<div class="type col-lg-3 col-md-4 col-sm-6 col-6">Sobre o curso</div>
						<textarea formControlName="descricao" class="col-lg-9 col-md-8 col-sm-6 col-6" id="descricao" name="descricao" maxlength="700"
											placeholder="Máximo 700 caracteres"></textarea>
					</div>

					<div class="item row" *ngIf="cursoTipo != 3">
						<div class="type col-lg-3 col-md-4 col-sm-6 col-6">Objetivo Do Curso</div>
						<textarea formControlName="objetivo_descricao" class="col-lg-9 col-md-8 col-sm-6 col-6" id="objetivocurso" name="descricao" maxlength="700"
											placeholder="Máximo 700 caracteres"></textarea>
					</div>

					<div class="item row" *ngIf="cursoTipo != 3">
						<div class="type col-lg-3 col-md-4 col-sm-6 col-6">Público-alvo</div>
						<textarea formControlName="publico_alvo" class="col-lg-9 col-md-8 col-sm-6 col-6" id="publico_alvo" name="descricao" maxlength="700"
											placeholder="Máximo 700 caracteres"></textarea>
					</div>

					<div class="item row" *ngIf="cursoTipo != 3">
						<div class="type col-lg-3 col-md-4 col-sm-6 col-6">Idioma</div>
						<select formControlName="idioma" id="idioma" name="idioma" class="col-lg-9 col-md-8 col-sm-6 col-6">
							<option selected disabled value="">Selecionar idioma</option>
							<option value="Português">Português</option>
							<option value="Espanhol">Espanhol</option>
							<option value="Inglês">Inglês</option>
						</select>
					</div>

					<div class="item row" *ngIf="cursoTipo != 3">
						<div class="type col-lg-3 col-md-4 col-sm-6 col-6">Formato</div>
						<select formControlName="formato" id="formato" name="formato" class="col-lg-9 col-md-8 col-sm-6 col-6">
							<option selected disabled value="">Selecionar formato</option>
							<option value="Video Aula">Vídeo Aula</option>
							<option value="Conteúdo Interativo">Conteúdo Interativo</option>
						</select>
					</div>

					<div class="item row" *ngIf="cursoTipo != 3">
						<div class="type col-lg-3 col-md-4 col-sm-6 col-6">Certificado</div>
						<select formControlName="fk_certificado" id="fk_certificado" name="fk_certificado" class="col-lg-9 col-md-8 col-sm-6 col-6">
							<option selected disabled value="">Selecionar tipo de certificado</option>
							<option *ngFor="let certificado of certificados" value="{{certificado.id}}">{{certificado.titulo}}</option>
						</select>
					</div>


					<div class="item row" *ngIf="cursoTipo != 3">
						<div class="type col-lg-3 col-md-4 col-sm-6 col-6">Local</div>
						<input formControlName="endereco_presencial" class="col-lg-9 col-md-8 col-sm-6 col-6" id="endereco_presencial" name="endereco_presencial" type="text" />
					</div>

					<div formArrayName="faculdade">
						<div *ngFor="let proj of formProjeto.controls; let i=index">
							<div [formGroupName]="i">
								<div class="item row">
									<div class="type col-lg-3 col-md-2 col-sm-6 col-6">Projeto</div>
									<select formControlName="fk_faculdade" id="fk_faculdade" name="fk_faculdade" class="col-lg-9 col-md-8 col-sm-6 col-6" >
										<option selected disabled value="">Selecionar IES</option>
										<option *ngFor="let projeto of projetos" value="{{projeto.id}}">{{projeto.nome_faculdade}}</option>
									</select>
									<a style="cursor:pointer;margin-left:10px;" matTooltip="Adicionar Projeto" (click)="addProjeto()">
										<i class="fas fa-plus orange-font-color"></i>
									</a>

									<a style="cursor:pointer;margin-left:10px;" *ngIf="i > 0" matTooltip="Remover Projeto" (click)="removeProjeto()">
										<i class="fas fa-minus orange-font-color"></i>
									</a>
								</div>
								<div class="item row">
									<div class="type col-lg-3 col-md-6 col-sm-6 col-6">Prazo para cursar:</div>
									<input formControlName="duracao_dias" class="col-lg-9 col-md-6 col-sm-6 col-6" id="duracao_dias" name="duracao_dias" type="text"/>
								</div>
								<div class="item row">
									<div class="type col-lg-3 col-md-6 col-sm-6 col-6">Prazo para venda:</div>
									<input formControlName="disponibilidade_dias" class="col-lg-9 col-md-6 col-sm-6 col-6" id="disponibilidade_dias" name="disponibilidade_dias" type="text"/>
								</div>
							</div>
						</div>
					</div>
					<div formArrayName="fk_cursos_categoria" *ngFor="let cat of formCategoria.controls; let i=index">
						<div [formGroupName]="i">
							<div class="item row">
								<div class="type col-lg-3 col-md-2 col-sm-6 col-6">Categoria</div>
								<select formControlName="fk_categoria" id="categoria" name="categoria" class="col-lg-9 col-md-8 col-sm-6 col-6">
									<option selected disabled value="">Selecionar categoria</option>
									<option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{categoria.titulo}}</option>
								</select>
								<a style="cursor:pointer;margin-left:10px;" matTooltip="Adicionar Categoria" (click)="addCategoria()">
									<i class="fas fa-plus orange-font-color"></i>
								</a>

								<a style="cursor:pointer;margin-left:10px;" matTooltip="Remover Categoria" *ngIf="i > 0" (click)="removeCategoria(i)">
									<i class="fas fa-minus orange-font-color"></i>
								</a>
							</div>
						</div>
					</div>

					<hr>

					<div style="margin: 60px 0;" class="toAddDate" *ngIf="cursoTipo != 3 && cursoTipo != 1">
						<div class="date" formArrayName="agenda" *ngFor="let data of formDatas.controls; let i = index;">
							<div [formGroupName]="i">
								<div class="item row">
									<div class="type col-lg-3 col-md-3 col-sm-6 col-6">Agenda</div>
									<a style="cursor:pointer;margin-left:10px;" matTooltip="Adicionar Agenda" (click)="clickToAddData()">
										<i class="fas fa-plus orange-font-color"></i>
									</a>

									<a style="cursor:pointer;margin-left:10px;" matTooltip="Remover Agenda" *ngIf="i > 0" (click)="removeAgenda(i)">
										<i class="fas fa-minus orange-font-color"></i>
									</a>
								</div>
								<div class="item row">
									<div class="type col-lg-3 col-md-3 col-sm-6 col-6">Descrição</div>
									<input formControlName="descricao_agenda" class="col-lg-3 col-md-4 col-sm-6 col-6" id="descricao_agenda" name="descricao_agenda" type="text" />

									<div class="type col-lg-3 col-md-3 col-sm-6 col-6">Data</div>
									<input formControlName="data_inicio" class="col-lg-3 col-md-4 col-sm-6 col-6" id="data1" name="data1" type="date" />
								</div>

								<div class="item row">
									<div class="type col-lg-3 col-md-3 col-sm-6 col-6">Hora de início</div>
									<input formControlName="hora_inicio" class="col-lg-3 col-md-4 col-sm-6 col-6" id="hora_inicio1" name="hora_inicio1" type="time"/>

									<div class="type col-lg-3 col-md-3 col-sm-6 col-6">Hora de término</div>
									<input formControlName="hora_fim" class="col-lg-3 col-md-4 col-sm-6 col-6" id="hora_termino1" name="hora_termino1" type="time"
									/>
								</div>
							</div>

						</div>

						<hr/>
					</div>


					<div class="item row" *ngIf="cursoTipo != 3">
						<div class="type col-lg-3 col-md-4 col-sm-6 col-6">Duração do curso</div>
						<input formControlName="duracao_total" class="col-lg-9 col-md-8 col-sm-6 col-6" id="duracao" name="duracao" type="text" />
					</div>
					<div class="item row" *ngIf="cursoTipo != 3">
						<div class="type col-lg-3 col-md-4 col-sm-6 col-6">Preço</div>
						<input formControlName="valor_de" class="col-lg-9 col-md-8 col-sm-6 col-6" id="preco" name="preco" type="text" />
					</div>

					<div class="item row" *ngIf="cursoTipo != 3">
						<div class="type col-lg-3 col-md-4 col-sm-6 col-6">Preço de venda</div>
						<input formControlName="valor" class="col-lg-9 col-md-8 col-sm-6 col-6" id="preco_venda" name="preco_venda" type="text"
						/>
					</div>
					<div class="item row" *ngIf="cursoTipo != 3">
						<div class="type col-lg-3 col-md-4 col-sm-6 col-6">Curador</div>
						<div class="dropdown col-lg-9 col-md-8 col-sm-6 col-6">
							<select formControlName="fk_curador" style="margin-bottom:20px;" id="fk_curador" name="fk_curador" class="col-lg-9 col-md-8 col-sm-6 col-6">
								<option selected disabled value="">Selecionar curador</option>
								<option *ngFor="let curador of curadores" value="{{curador.id}}">{{curador.nome_curador}}</option>
							</select>
						</div>
					</div>

					<div class="item row" *ngIf="cursoTipo != 3">
						<div class="type col-lg-3 col-md-4 col-sm-6 col-6">Produtora</div>
						<div class="dropdown col-lg-9 col-md-8 col-sm-6 col-6">
							<select formControlName="fk_produtora" style="margin-bottom:20px;" id="fk_produtora" name="fk_produtora" class="col-lg-9 col-md-8 col-sm-6 col-6">
								<option selected disabled value="">Selecionar produtora</option>
								<option *ngFor="let produtora of produtoras" value="{{produtora.id}}">{{produtora.nome_produtora}}</option>
							</select>
						</div>
					</div>

					<div class="item row" *ngIf="cursoTipo != 3">
						<div class="type col-lg-3 col-md-4 col-sm-6 col-6">Professor Participante</div>
						<div class="dropdown col-lg-9 col-md-8 col-sm-6 col-6">
							<select formControlName="fk_professor_participante" style="margin-bottom:20px;" id="fk_professor_participante" name="fk_professor_participante" class="col-lg-9 col-md-8 col-sm-6 col-6">
								<option selected disabled value="">Selecionar professor</option>
								<option *ngFor="let professor of professores" value="{{professor.id}}">{{professor.nome_professor}} {{professor.sobrenome_professor}}</option>
							</select>
							<br/>
						</div>
					</div>

					<div class="item row" *ngIf="cursoTipo != 3">
						<div class="type col-lg-3 col-md-4 col-sm-6 col-6">Máximo de alunos</div>
						<input formControlName="numero_maximo_alunos" class="col-lg-9 col-md-8 col-sm-6 col-6" id="alunos_max" name="alunos_max" type="text"
						/>
					</div>
					<div class="item row" *ngIf="cursoTipo != 3">
						<div class="type col-lg-3 col-md-4 col-sm-6 col-6">Mínimo de alunos</div>
						<input formControlName="numero_minimo_alunos" class="col-lg-9 col-md-8 col-sm-6 col-6" id="alunos_min" name="alunos_min" type="text"
						/>
					</div>

					<div *ngIf="cursoTipo != 3" >
						<div formArrayName="tags" *ngFor="let tags of formTags.controls; let i = index;">
							<div [formGroupName]="i">
								<div class="item row">
									<div class="type col-lg-3 col-md-2 col-sm-6 col-6">Tags</div>
									<input class="col-lg-4 col-md-4 col-sm-6 col-6" id="nome"
												 name="nome" formControlName="nome" placeholder="Adicionar Tags" type="text"
									/>
									<a style="cursor:pointer;margin-left:10px;" matTooltip="Adicionar Tag" (click)="addTags()">
										<i class="fas fa-plus orange-font-color"></i>
									</a>

									<a style="cursor:pointer;margin-left:10px;" matTooltip="Remover Tag" *ngIf="i > 0" (click)="removeTags(i)">
										<i class="fas fa-minus orange-font-color"></i>
									</a>
								</div>
							</div>
						</div>
					</div>


					<div class="item row">
						<button style="margin-left:15px;background-color:#B2B1B1;color:white;max-width:485px;margin-top:20px;margin-bottom:20px;"
										class="col-lg-12 col-md-12 col-sm-12 col-12" type="button" data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false">
							Enviar imagem do curso (jpg ou png)
						</button>
						<div class="dropdown-menu" style="max-width:485px;background-color:#B2B1B1;color:white">
							<input class="col-lg-12 col-md-12 col-sm-12 col-12" (change)="onFileSelected($event.target.files)"  type="file" id="upload_image_course" name="upload_image_course" placeholder="Enviar vídeo"
							/>
						</div>
					</div>
					<hr>

					<div class="title2" *ngIf="cursoTipo != 3 && cursoTipo != 2">Conteúdo programático dividido em aulas:
						<br/>
						<hr/>
					</div>
					<div *ngIf="cursoTipo != 3 && cursoTipo != 2"  style="width: 90%; margin-left: 10%">
						<div formArrayName="modulos" *ngFor="let modulo of formModulo.controls; let i = index;">
							<div [formGroupName]="i">
								<div class="item row">
									<div class="type col-lg-3 col-md-3 col-sm-6 col-6">Seção {{i+1}}</div>
									<a style="cursor:pointer;margin-left:10px;" matTooltip="Adicionar Agenda" (click)="clickToAddModule()">
										<i class="fas fa-plus orange-font-color"></i>
									</a>

									<a style="cursor:pointer;margin-left:10px;" matTooltip="Remover Agenda" *ngIf="i > 0" (click)="removeSecao(i)">
										<i class="fas fa-minus orange-font-color"></i>
									</a>
								</div>
								<div class="item row" style="width: 95%; margin-left: 5%">
									<input formControlName="titulo" id="nome_modulo{{i}}" name="nome_modulo{{i}}" class="col-lg-5 col-md-5 col-sm-5 col-5"
												 type="text" placeholder="Descrição" />

									<select formControlName="ordem" name="ordem" id="ordem" class="col-lg-4 col-md-4 col-sm-5 col-5 pl-2 pl-lg-2">
										<option selected disabled value="">Selecionar ordem</option>
										<option *ngFor="let cont of listaOrdem" value="{{cont}}">{{cont}}</option>
									</select>
								</div>
								<div formArrayName="subModulos" *ngFor="let subModulo of formSubModulos(i).controls.subModulos.controls; let j = index;">
									<div style="width: 100%;"  [formGroupName]="j">
										<div class="item row" style="width: 90%; margin-left: 15%">
											<div class="col-lg-6 col-md-6 col-sm-6 col-6">
												Aula
												<span class="module-number">{{j+1}}</span>
												<a style="cursor:pointer;margin-left:10px;" matTooltip="Adicionar Aula" (click)="clickToAddSubModulo(modulo)">
													<i class="fas fa-plus orange-font-color"></i>
												</a>

												<a style="cursor:pointer;margin-left:10px;" matTooltip="Remover Aula" *ngIf="j > 0" (click)="removeModulo(i)">
													<i class="fas fa-minus orange-font-color"></i>
												</a>
											</div>
										</div>
										<div class="item row" style="width: 90%; margin-left: 15%">
											<input formControlName="titulo" class="col-lg-5 col-md-5 col-sm-5 col-5" id="nome_submodulo{{i}}{{j}}" name="nome_submodulo{{i}}{{j}}"
														 type="text" placeholder="Nome" />
											<div class="col-lg-5 col-md-5 col-sm-5 col-5">
												<button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="id_upload_modulo{{i}}{{j}}">
													Enviar arquivo txt ou pdf
												</button>
												<div class="dropdown-menu" aria-labelledby="id_upload_modulo1">
													<input type="file" id="upload_modulo{{i}}{{j}}" name="upload_modulo{{i}}{{j}}"
																 placeholder="Enviar vídeo" (change)="onModuleFileSelected($event.target.files, subModulo)" />
												</div>
											</div>
										</div>

										<div class="item row" style="width: 90%; margin-left: 15%">
											<div class="type col-lg-2 col-md-3 col-sm-6 col-6">Código Vimeo</div>
											<input formControlName="url_video" class="col-lg-4 col-md-4 col-sm-6 col-6" id="url_video" name="url_video" type="text"/>

											<div class="type col-lg-2 col-md-3 col-sm-6 col-6">Minutos</div>
											<input formControlName="carga_horaria" class="col-lg-4 col-md-4 col-sm-6 col-6" id="carga_horaria" name="carga_horaria" type="text"
											/>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr>
					</div>

					<div id="quiz_container" *ngIf="cursoTipo != 3">
						<div formGroupName="quiz">
							<div class="item row">
								<div class="type col-lg-2 col-md-2 col-sm-6 col-6">Quiz</div>
								<select formControlName="percentual_acerto" name="percentual_acerto" id="percentual_acerto" class="col-lg-4 col-md-8 col-sm-2 col-2">
									<option selected disabled value="">Selecionar % aprovação</option>
									<option *ngFor="let cont of listaAprovacao" value="{{cont}}">{{cont}}</option>
								</select>
							</div>
							<div formArrayName="questao">
								<div style="width: 90%; margin-left: 10%;" *ngFor="let questoes of formQuestao.controls; let i = index;">
									<div [formGroupName]="i">
										<div class="item row">
											<div class="type col-lg-2 col-md-4 col-sm-6 col-6">
													Questão #{{i+1}}
											</div>
											<a style="cursor:pointer;margin-left:10px;" matTooltip="Adicionar Questão" (click)="clickToAddQuestao(quiz)">
												<i class="fas fa-plus orange-font-color"></i>
											</a>

											<a style="cursor:pointer;margin-left:10px;" matTooltip="Remover Questão" *ngIf="i > 0" (click)="removeQuestao(i)">
												<i class="fas fa-minus orange-font-color"></i>
											</a>
										</div>
										<input formControlName="titulo" class="col-lg-5 col-md-6 col-sm-5 col-5" id="titulo{{i}}" name="titulo{{i}}"
													 type="text" placeholder="Questão" />
										<div style="width: 95%; margin-left: 10%" formGroupName="op">
											<div class="item row">
												<div class="col-lg-3 col-md-3 col-sm-6 col-6">Alternativa {{i+1}}</div>
												<input formControlName="descricao1" class="col-lg-4 col-md-9 col-sm-6 col-6" id="descricao1" name="descricao1" type="text"/>
											</div>

											<div class="item row">
												<div class="col-lg-3 col-md-3 col-sm-6 col-6">Alternativa {{i+2}}</div>
												<input formControlName="descricao2" class="col-lg-4 col-md-9 col-sm-6 col-6" id="descricao2" name="descricao2" type="text">
											</div>

											<div class="item row">
												<div class="col-lg-3 col-md-3 col-sm-6 col-6">Alternativa {{i+3}}</div>
												<input formControlName="descricao3" class="col-lg-4 col-md-9 col-sm-6 col-6" id="descricao3" name="descricao3" type="text">
											</div>

											<div class="item row">
												<div class="col-lg-3 col-md-3 col-sm-6 col-6">Alternativa {{i+4}}</div>
												<input formControlName="descricao4" class="col-lg-4 col-md-9 col-sm-6 col-6" id="descricao4" name="descricao4" type="text">
											</div>

											<div class="item row">
												<div class="col-lg-3 col-md-3 col-sm-6 col-6">Alternativa {{i+5}}</div>
												<input formControlName="descricao5" class="col-lg-4 col-md-9 col-sm-6 col-6" id="descricao5" name="descricao5" type="text">
											</div>
										</div>

										<div class="item row">
											<select formControlName="resposta_correta" name="resposta_correta" id="resposta_correta" class="col-lg-10 col-md-10 col-sm-12 col-12">
												<option selected disabled value="">Selecione a alternativa correta</option>
												<option *ngFor="let cont of listaCorretas" value="{{cont}}">{{cont}}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<br/>

					<div class="main-row" *ngIf="!loading">
						<button type="submit" style="background-color:#FC0404;">salvar</button>
					</div>
					<div class="main-row" *ngIf="loading">
						<button type="submit" class="gray-background">salvando...</button>
					</div>

				</form>
				<div class="main-row" *ngIf="!loading">
					<button class="orange-background" *ngIf="editar" (click)="novo">novo</button>
				</div>

			</div>
		</div>
		<div class="row">

		</div>


	</section>




</div>
