<div *ngIf="termosComponentFlag">
    <app-termos></app-termos>
    <div (click)="termosCondicoesHide()" class="termosCondicoesButton">
        Voltar
    </div>
</div>
<section id="page-cadastro" *ngIf="!termosComponentFlag">
    <section>
        <div class="row main-row" style="margin-top:0">

            <div class="col-lg-12 col-md-12 col-sm-12 col-12 main-form">
                <h2 class="orange-font-color">Faça seu cadastro</h2>

                <div *ngIf="error" class="alert alert-danger">
                    {{error}}
                    <div *ngIf="validator">
                        <p class="text-danger" *ngFor="let mensagem of validator"> {{mensagem}} </p>
                    </div>
                </div>
                <div *ngIf="success" class="alert alert-success">
                    <h3>Parabéns! </h3>
                    Seu cadastro foi realizado com sucesso!
                   
                </div>
                <div  *ngIf="success" style="display:flex;flex-wrap:wrap;">
                        <a (click)="navigateHome()"><button style="padding:20px" class="orange-background">voltar à home</button></a>
                        <a (click)="navigateEditar()"><button  style="padding:20px" class="orange-background">completar cadastro</button></a>
                </div>
                <div *ngIf="success"><small>Caso você tenha algum pedido no carrinho, complete todos seus dados</small></div>
                
                <form *ngIf="!success" id="cadastro_form" [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
                    <div [ngStyle]='{"border-color" :   formCadastro.controls.nome.status == "INVALID" &&   submitted ? "#FC0404" : "#ddd" }' matTooltip="Seu e-mail não deverá conter caracteres especiais.">
                        <span class="orange-font-color">* <small  style="color:#FC0404">(É necessário preencher seu nome completo para fins de certificação)</small></span><br/>
                        <input id="name" type="text" formControlName="nome" required placeholder="Nome" maxlength="50" matTooltip="Seu e-mail não deverá conter caracteres especiais."  />
                    </div>
                    <div class="not-border" *ngIf="  formCadastro.controls.nome.status == 'INVALID' &&   submitted">
                        <p style="color:#FC0404">Este campo é obrigatório</p>
                    </div>
                    <div [ngStyle]='{"border-color" :   formCadastro.controls.sobre_nome.status == "INVALID" &&   submitted ? "#FC0404" : "#ddd" }'>
                        <span class="orange-font-color">* <small  style="color:#FC0404">(É necessário preencher seu nome completo para fins de certificação)</small></span><br/>
                        <input maxlength="50" id="last_name" type="text" formControlName="sobre_nome" required placeholder="Sobrenome" />
                    </div>
                    <div class="not-border" *ngIf="  formCadastro.controls.sobre_nome.status == 'INVALID' &&   submitted">
                        <p style="color:#FC0404">Este campo é obrigatório</p>
                    </div>
                    <div [ngStyle]='{"border-color" :   formCadastro.controls.sobre_nome.status == "INVALID" &&   submitted ? "#FC0404" : "#ddd" }'>
                        <span class="orange-font-color">*</span>
                        <input type="text" formControlName="telefone_2" required placeholder="Celular" (change)="celularMask($event);" maxlength="11">
                    </div>
                    <div class="not-border" *ngIf="formCadastro.controls.telefone_2.status == 'INVALID' && submitted">
                        <p style="color:#FC0404">Este campo é obrigatório</p>
                    </div>
                    
                    <div class="not-border">
                        <small>* preenchimento obrigatório</small>
                    </div>


                    <div id="contact_info" class="not-border">
                        <div [ngStyle]='{"border-color" :   formCadastro.controls.email.status == "INVALID" &&   submitted ? "#FC0404" : "#ddd" }'>
                            <span class="orange-font-color">*</span>
                            <input maxlength="50" id="email" type="email" formControlName="email" required placeholder="Email" />
                        </div>
                        <div class="not-border" *ngIf="  formCadastro.controls.email.status == 'INVALID' &&   submitted">
                            <p *ngIf="formCadastro.controls.email.errors.required" style="color:#FC0404">Este campo é obrigatório</p>
                            <p *ngIf="formCadastro.controls.email.errors.email" style="color:#FC0404">Informe um e-mail válido.</p>
                        </div>
                        <div [ngStyle]='{"border-color" :  formCadastro.controls.cpf.status == "INVALID" &&  submitted ? "#FC0404" : "#ddd" }'>
                            <span class="orange-font-color">*</span>
                            <input id="cpf" appNumberMask="{{formCadastro.get('cpf').value.length <= 11 ? '999.999.999-99' : '99.999.999/9999-99'}}"
                                   type="text" formControlName="cpf" required placeholder="CPF/CNPJ"
                            />
                        </div>
                        <div class="not-border" *ngIf="  formCadastro.controls.cpf.status == 'INVALID' &&   submitted">
                            <p *ngIf="formCadastro.controls.cpf.errors.required" style="color:#FC0404">Este campo é obrigatório</p>
                            <p *ngIf="formCadastro.controls.cpf.errors.validateCPF.valid == false && formCadastro.get('cpf').value != null && formCadastro.get('cpf').value != ''"
                               style="color:#FC0404">{{formCadastro.controls.cpf.errors.validateCPF.message}}</p>
                        </div>
                        <div>
                            <span class="orange-font-color">*</span>
                            <select placeholder="Estado" [ngStyle]='{"border-color" :  formCadastro.controls.fk_estado_id.status == "INVALID" &&  submitted ? "#FC0404" : "#ddd" }' formControlName="fk_estado_id" class="form-control" required (change)="buscarCidades();">
                                <option value="" disabled selected>Estado</option>
                                <option [value]="estado.id" *ngFor="let estado of estados">
                                    {{ estado.descricao_estado | titlecase}}
                                </option>
                            </select>
                            <div class="not-border" *ngIf="  formCadastro.controls.fk_estado_id.status == 'INVALID' &&   submitted">
                                <p style="color:#FC0404">Este campo é obrigatório</p>
                            </div>
                        </div>
                        <div>
                            <span class="orange-font-color">*</span>
                            <select placeholder="Cidade"  [ngStyle]='{"border-color" :  formCadastro.controls.fk_cidade_id.status == "INVALID" &&  submitted ? "#FC0404" : "#ddd" }' formControlName="fk_cidade_id" class="form-control" required>
                                <option value="" disabled selected>Cidade</option>
                                <option [value]="cidade.id" *ngFor="let cidade of cidades">
                                    {{ cidade.descricao_cidade | titlecase }}
                                </option>
                            </select>
                            <div class="not-border" *ngIf="  formCadastro.controls.fk_cidade_id.status == 'INVALID' &&   submitted">
                                <p style="color:#FC0404">Este campo é obrigatório</p>
                            </div>
                        </div>
                        <div [ngStyle]='{"border-color" :   formCadastro.controls.senha.status == "INVALID" &&   submitted ? "#FC0404" : "#ddd" }'>
                            <span class="orange-font-color">*</span>
                            <input maxlength="50" id="password" type="password" formControlName="senha" required placeholder="Senha" />
                        </div>
                        <div class="not-border" *ngIf="  formCadastro.controls.senha.status == 'INVALID' &&   submitted">
                            <p style="color:#FC0404">Este campo é obrigatório</p>
                        </div>
                        <div class="not-border" *ngIf="(passwordInvalid ||  !passwordMatch) && submitted">
                            <p *ngIf="passwordInvalid" style="color:#FC0404">A senha é inválida, ela deve conter no mínimo 8 caracteres</p>                           
                        </div>
                        <div  [ngStyle]='{"border-color" :  passwordInvalid  || !passwordMatch ? "#FC0404" : "#ddd" }'>
                            <span class="orange-font-color">*</span>
                            <input maxlength="50" id="password_confirm" type="password" required placeholder="Confirme sua senha" />
                        </div>
                        <div class="not-border" *ngIf="(!passwordMatch) && submitted">
                            <p style="color:#FC0404">A confirmação de senha não coincide com a senha digitada</p>
                        </div>
                        <div class="not-border">
                            <small>A sua senha deverá ter no mínimo 8 caracteres</small>
                        </div>
                    </div>

                    <div class="not-border" style="margin-top:50px;">
                        <input style="width:20px" type="checkbox" name="termos_condicoes" id="termos_condicoes" />
                        <span>Li e aceito os
                            <a (click)="termosCondicoesShow()">
                                <h5 style="display: inline; cursor: pointer;">termos e condições</h5>
                            </a>
                        </span>
                    </div>
                    <div  class="not-border" *ngIf="!termosAccepted && submitted">
                            <p style="color:#FC0404">Para continuar é necessário aceitar os termos e condições</p>
                        </div>

                    <button *ngIf="!loading" type="submit" class="orange-background">enviar</button>
                    <button *ngIf="loading" type="submit" class="gray-background">carregando...</button>

                </form>
            </div>

        </div>
    </section>
    <!-- Page Content -->

    <section id="section_content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12"></div>
            </div>
        </div>
    </section>
    <!-- /.container -->

</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>

<script>
    var interval = setInterval(function () {
        if ($("#topnav_users").length) {
            $("#topnav_users").addClass("orange-font-color");
            clearInterval(interval);
        }
    }, 100);


</script>

<style>
    #page-cadastro .navbar {
        background-color: #DBDADA !important;
    }

    #mobile_navbar {
        background-color: #DBDADA !important;
    }
    .termosCondicoesButton {
        max-width:300px;
        text-align:center;
        background-color:#F2A628;
        padding: 15px 100px;
        font-family: encodeSansCondensed-Bold;
        color: white;
        font-size: 20px;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: auto;
        margin-top: 30px;
    }
</style>
