.title {
    font-family: encodeSansCondensed-Regular;
    font-size: 35px;
}

.send-search {
    padding: 9px 20px !important;
    margin-top: 30px;
    font-family: encodeSansCondensed-Bold;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color:#f2652a;
}