.row i {
    align-self: center;
    font-size: larger;
    position: absolute;
    right: 17px;
    margin-top: 12px;
    cursor: pointer;
}

button {
    margin-top: 30px;
    padding: 15px 100px;
    font-family: encodeSansCondensed-Bold;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
app-field-error-display {
    width: 100%;
}
