.badge{
    font-family: encodeSansCondensed-Regular;
    color:#707070;
    font-weight: normal;
}

#page-assinaturas #description{
    max-width: 100% !important;
}


.box-shadow.card {
    width: 100%;
}

.card-body {
    height: 350px!important;
    overflow: hidden!important;
}


#description p{
    color:black !important;
}



