@import "~src/assets/scss/mixins/_variables.scss";

#home_eventos .padding-5{
    width:100% !important;
}

h1.orange-font-color{
    font-size: 35px !important;
}
.horizontal-line2{
    max-width: unset !important;
}

#category_mobile{
    padding:0 15px;
    button{
        height: 40px;
        text-align: left;
    }
}